.renderItem {
    margin: 2%;
    width: 46%;
}

.listview_parent {
    padding-left: 2%;
    padding-right: 2%;
}

.listview_item {
    padding: 4%;
    padding-left: 8%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.listview_item:hover {
    background-color: #96C5F7;
}

/*.listview_item:active {*/
/*    background-color: #00b89c;*/
/*}*/

.personItem.is-active {
    background-color: #00b89c;
}

.listview_item > .title {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 2%;
}

.toplevelnav {
}

.appPanel {

}


.vehiclePanel {
    height: 128px;
    margin: 5px;
    cursor: pointer;
}

.vehiclePanel.is-active {
    background-color: #96C5F7;
}

div.vehiclePanel .bumper {
    font-weight: bold;
    font-size: large;
}

.vehiclePanelImage {
    background-size: cover;
    background-image: url("/static/images/noimage.jpg");

}

.personItem {
    cursor: pointer;
}

.assignmentPersonItem {
    cursor: grab;
}

.template {
    display: none;
}

.hidden {
    display: none;
}

.vehicleTypeImagePreview {
    height: 140px;
    width: 188px;
    margin-top: 2%;

}

.dragging {
    cursor: grabbing;
}

.edit-warning {
    color: #f14668;
    font-weight: bold;
    position: absolute;
    width: 100%;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: lightgray;
}

.dropdown-item > .delete {
    float: right;
}

.upload {
        background-color: #F6BD60;

    background-image: url("/static/images/upload.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.download {
        background-color: #3273dc;
    background-image: url("/static/images/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.renderPage {
    width: 90vh;
    position:absolute;
}

.assignmentProperty {
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center !important;
    background-color: #feecf0;
    color: #cc0f35;
    padding: 2px;
}

.assignmentProperty.present {
    background-color: #effaf3;
    color: #257942;
}

.enditem_vehiclePreview {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 130px;
    margin-bottom:5%;
    margin-top: 3px;
    border-radius: 4px;
}

.enditem_panel {
    margin-bottom:6%;
}

#imgVehiclePanelPreview {
    border-radius: 5px;
    margin-top: 5px;
    width:50%;
    margin-left:4%;
    height: 100px;
    background-position: center;
    background-size: 100% 100%;
}

#renderContainer {
    display: flex;
    justify-content: center;
        align-items: center;
    padding-left:1%;
    padding-top: 3%;
}

@media print {
    html, body {
    width: 210mm;
    height: 297mm;
  }
    #renderContainer {
        width: 256mm;
    }
    .enditem_panel {
        width: 45%;
        margin: 2%;
        padding-top:2%;
        padding-bottom:1%;
        break-inside: avoid;
    }
    .enditem_vehiclePreview {
        height: 120px;
    }
    /*#renderContainer {*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    background-color: red;*/
    /*    width: 90vh;*/
    /*    margin-left:0.5%;*/
    /*    margin-top:0.5%;*/
    /*}*/
    /*.present {*/
    /*    background-color: #f14668;*/
    /*}*/
    * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
}


