<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tool</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='bulma.css') }}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='custom.css') }}">


</head>
<body>
<div class="modal" id="modalAppStart">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Before you begin..</p>
      <button class="btnAcceptStartup delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
            All activity in this app happens on your computer. Remember to SAVE (blue button on the left) because what you put in isn't saved on the server for security reasons. You can re-upload the savefile later using the yellow button to restore your work.
    </section>
    <footer class="modal-card-foot">
      <button class="btnAcceptStartup button is-success">Okay</button>
    </footer>
  </div>
</div>
<div id="render" class="container renderPage hidden">
    <div id="renderContainer" class="columns is-multiline is-centered">
        {#        <div class="column renderItem panel is-two-fifths">#}
        {#            <div class="columns">#}
        {#                <div class="column is-one-third" style="height: 80px;">#}
        {#                    picture goes here#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="columns">#}
        {#                <div class="column has-text-centered">JBCP</div>#}
        {#                <div class="column has-text-centered">Radio</div>#}
        {#                <div class="column has-text-centered">Licenses</div>#}
        {#            </div>#}
        {#            <div class="columns">#}
        {#                <div class="column ">#}
        {#                    <div><p>TC</p>  </div>#}
        {#                    <div><p>DRIVER</p></div>#}
        {#                    <div><p>TRAILER</p></div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="column renderItem panel is-two-fifths">#}
        {#            <div class="columns">#}
        {#                <div class="column is-one-third" style="height: 80px;">#}
        {#                    picture goes here#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="columns">#}
        {#                <div class="column is-one-quarter">#}
        {#                    <div>JBCP</div>#}
        {#                    <div>Radio</div>#}
        {#                    <div>Crew</div>#}
        {##}
        {#                </div>#}
        {#                <div class="column ">#}
        {#                    <div><p>TC</p></div>#}
        {#                    <div><p>DRIVER</p></div>#}
        {#                    <div><p>TRAILER</p></div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}


    </div>
</div>
<div id="main" class="container is-fullheight is-fullwidth">
    <section class="section is-bordered">
        <nav class="level">
            <p class="level-item has-text-centered">
            </p>
        </nav>
    </section>
    <section class="section" style="">
        <div class="container" style="">
            <div class="columns is-fullheight">
                <div class="column is-one-fifth" style="position: fixed;">
                    <button id="personnelNav" class="toplevelnav mb-2 button is-large is-primary is-fullwidth">
                        Personnel
                    </button>
                    <button id="vehiclesNav" class="toplevelnav mb-2 button is-large is-primary is-fullwidth">Vehicles
                    </button>
                    <button id="assignmentsNav" class="toplevelnav mb-2 button is-large is-primary is-fullwidth">
                        Assignment
                    </button>
                    <div class="block"></div>
                    <div class="columns mr-1 mt-4 ml-1 is-multiline is-centered">
                        <div class="column mb-2 is-two-fifths">
                            <label class="upload button" for="uploadData" style="display: block"></label>
                            <input type="file" name="file" id="uploadData" class="inputfile"/>
                        </div>
                        <div class="column mb-2 is-two-fifths ">
                            <label class="download button" style="display: block"></label>
                        </div>
                        <div id="btnGenReport" class="column button mb-2 is-large is-primary is-fullwidth">Generate
                            Report
                        </div>

                    </div>
                </div>
                <div class="column"></div>
                <div class="column  is-two-thirds">
                    <div id="Personnel" class="appPanel container panel hidden">
                        <div id="lblPersonEditWarning" class="has-text-centered edit-warning" style="width: 60%"></div>
                        <div class="columns">
                            <div class="column is-three-fifths m-5 mr-3" style="">
                                Name:
                                <input class="input m-2" type="text" id="inputPersonName" placeholder="Name">
                                Rank:
                                <div class="dropdown is-right m-2" id="dropDownRank">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropDownRank">
                                            <span id="content"></span>
                                            <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropDownRank" role="menu">
                                        <div class="dropdown-content" style="height: 300px; overflow-y: scroll">
                                            {% for rank in ranks %}
                                                <a class="dropdown-item dropdownRankItem" href="#">
                                                    {{ rank }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                Unit:
                                <div class="dropdown m-2" style="margin-right:0 !important;" id="dropDownUnit">
                                    <div class="dropdown-trigger">
                                        <button class="button" style="width: 80px;" aria-haspopup="true"
                                                aria-controls="dropDownUnit">
                                            <span id="content"></span>
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropDownUnit" role="menu">
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                </div>
                                <div id="addUnit" class="button m-2 is-link" style="margin-left:0 !important;">+</div>
                                <div id="addUnitPanel" class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Add Unit Type</p>
                                            <button class="cancelUnit delete" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            Unit
                                            <input class="input m-2 " type="text" style="width: 200px"
                                                   id="inputUnitName"
                                                   placeholder="Name">

                                        </section>
                                        <footer class="modal-card-foot">
                                            <button id="saveUnit" class="button is-success">Save</button>
                                            <button class="cancelUnit button">Cancel</button>
                                        </footer>
                                    </div>
                                </div>
                                <label class="checkbox m-2">
                                    <input type="checkbox" id="chkPersonLicense">
                                    License
                                </label>
                                <div class="block"></div>
                                <div class="columns is-centered">
                                    <div class="column has-text-centered">
                                        <button class="button align is-centered is-success" id="btnSubmitPerson">
                                            Submit
                                        </button>
                                        <button class="button align is-centered is-warning hidden"
                                                id="btnCancelSubmitPerson">Cancel
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="column" style="border-left: 1px solid gray; height: 400px; overflow-y: scroll;">
                                <div id="lstPersonnel" class="column listview_parent">
                                    <div class="listview_item personItem template">
                                        <div id="removePerson" style="float: right">
                                            <button class="delete"></button>
                                        </div>
                                        <p class="title">SPC Macintosh</p>
                                        <p class="unit">1PLT</p></div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Vehicles" class="appPanel container" style="">
                        <div id="lblVehicleEditWarning" class="has-text-centered edit-warning"></div>
                        <div class="columns panel">
                            <div class="column is-three-fifths m-5 mr-3">
                                Bumper #:
                                <input id="inputVehicleBumper" class="input m-2" type="text" placeholder="Text input">
                                Unit:
                                <div class="dropdown m-2" id="dropDownVehicleUnit" style="margin-right: 0 !important">
                                    <div class="dropdown-trigger">
                                        <button class="button" style="width: 80px;" aria-haspopup="true"
                                                aria-controls="dropDownVehicleUnit">
                                            <span id="content"></span>
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropDownVehicleUnit" role="menu">
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                </div>
                                <div id="addVehicleUnit" class="button m-2 is-link" style="margin-left:0 !important">+
                                </div>
                                <div id="addVehicleUnitPanel" class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Add Unit Type</p>
                                            <button class="cancelUnit delete" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            Unit
                                            <input class="input m-2 " type="text" style="width: 200px"
                                                   id="inputVehicleUnitName"
                                                   placeholder="Name">

                                        </section>
                                        <footer class="modal-card-foot">
                                            <button id="saveVehicleUnit" class="button is-success">Save</button>
                                            <button class="cancelUnit button">Cancel</button>
                                        </footer>
                                    </div>
                                </div>
                                <label class="checkbox m-2">
                                    <input id="chkVehicleRadio" type="checkbox">
                                    Radio
                                </label>
                                <label class="checkbox m-2">
                                    <input id="chkVehicleJBCP" type="checkbox">
                                    JBCP
                                </label>
                                <div class="block"></div>
                                <div class="columns is-centered">
                                    <div class="column has-text-centered">
                                        <button class="button align is-centered is-success" id="btnSubmitVehicle">
                                            Submit
                                        </button>
                                        <button class="button align is-centered is-warning hidden"
                                                id="btnCancelSubmitVehicle">Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="block"></div>
                                <p>Type:</p>
                                <div class="dropdown m-2" id="dropDownVicType" style="margin-right: 0 !important">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" style="width: 80px;"
                                                aria-controls="dropDownVicType">
                                            <span id="content"></span>
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropDownVicType" role="menu">
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                </div>
                                <div id="addVehicleType" style="margin-left: 0 !important" class="button m-2 is-link">
                                    +
                                </div>
                                <div id="imgVehiclePanelPreview"></div>
                                <div id="addVehicleTypePanel" class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Add Vehicle Type</p>
                                            <button class="cancelVehicleType delete" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            Vehicle Type Name
                                            <input class="input m-2" type="text" id="inputVehicleTypeName"
                                                   placeholder="Name">
                                            <div class="block"></div>
                                            Image Preview
                                            <div class="columns">
                                                <div class="column is-two-fifths">
                                                    <img class="vehicleTypeImagePreview" id="imgVehicleTypePreview"/>
                                                </div>
                                                <div class="column">
                                                    <input id="chooseTypeImage" style="overflow: hidden; width: 180px"
                                                           type="file" accept="image/*">
                                                    <label class="checkbox m-2">
                                                        <input type="checkbox" id="chkTypeTrailer">
                                                        is Trailer/Equipment (no crew)
                                                    </label>
                                                </div>
                                            </div>

                                        </section>
                                        <footer class="modal-card-foot">
                                            <button id="saveVehicleType" class="button is-success">Save</button>
                                            <button class="cancelVehicleType button">Cancel</button>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block "></div>
                        <div class="block "></div>

                        <div id="lstVehicles" class="columns is-multiline is-centered">
                            <div class="column is-one-quarter panel vehiclePanel template" style="">
                                <div class="columns" style="height: 128px;">
                                    <div class="column vehiclePanelImage">
                                    </div>
                                    <div style="float:right" class="column has-text-centered">
                                        <div style="float:right">
                                            <button id="removeVehicle" class="delete"></button>
                                        </div>
                                        <p class="bumper">C200</p>
                                        <p class="type">M1097</p>
                                        <p class="unit">1PLT</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Assignment" class="appPanel container hidden">
                        <div class="columns">
                            <div id="lstAssignVehicles" class="column is-two-thirds">
                                <div class="enditem_panel panel template">
                                    <div>
                                        <div class="columns pr-4 pl-4 mb-0">
                                            <div class="is-two-fifths column enditem_vehiclePreview"></div>
                                            <div class="is-one-third column has-text-centered">
                                                <p id="enditem_bumperNumber"
                                                   style="font-size: larger; font-weight: bold">C200</p>
                                                <p id="enditem_type">
                                                <p id="enditem_unit">
                                                </p>
                                            </div>
                                            <div class="column">
                                                <div class="assignmentProperty is-light is-danger radioProperty">Radio
                                                </div>
                                                <div class="assignmentProperty is-light is-danger jbcpProperty">JBCP
                                                </div>
                                                {#                                                <div class="assignmentProperty is-light is-danger">asf</div>#}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="columns pr-4 pl-4 mb-0">
                                            <div class="is-one-third column ">Driver</div>
                                            <div class="is-one-third column">TC</div>
                                            <div class="is-one-third column">Trailer</div>
                                        </div>
                                        <div>
                                            <div class="columns pr-4 pl-4">
                                                <div class="column is-one-third">
                                                    <div id="inputDriver"
                                                         class="assignmentDropzone button is-fullwidth">SPC
                                                        Butternautica
                                                    </div>
                                                </div>
                                                <div class="column is-one-third">
                                                    <div id="inputTC"
                                                         class="assignmentDropzone button is-fullwidth"></div>
                                                </div>
                                                <div class="column is-one-third">
                                                    <div id="inputTrailer"
                                                         class="assignmentDropzone is-light button is-fullwidth"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="column"></div>
                            <div class="column is-one-quarter">
                                <div style="position:fixed;width:20%;">
                                    <div>
                                        <div class="tabs is-boxed">
                                            <ul>
                                                <li id="tabLstAssignmentPeople" class="tabLstAssignment is-active">
                                                    <a>
                                                        <span>People</span>
                                                    </a>
                                                </li>
                                                <li id="tabLstAssignmentEquipment" class="tabLstAssignment">
                                                    <a>
                                                        <span>Equipment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div id="lstAssignPersonnel" class="column panel"
                                         style="overflow-y: scroll;  height: 400px; ">
                                        <div class="assignmentPersonItem listview_item template"
                                             draggable="true">
                                            <p class="title">placeholder</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="lstAssignFilters" class="column panel " style="display: none; height:120px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</section>
</div>
</body>
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='primary.js') }}"></script>

</html>